.low-usage {
  color: green;
}

.medium-usage {
  color: black;
}

.high-usage {
  color: red;
}

section {
  font-family: 'arial';
  background-color: #85adad;
  border: 5px solid;
  border-radius: 10px;
}

h1 {
  font-weight: 700;

}

h2{
  color: red;
}

.buttons {
    top: 50%;
    left: 50%;
    width: 50px;
    height: 30px;
    text-align: center;
  }

#temperature-reset {
  top: 50%;
  left: 50%;
  width: 105px;
  height: 40px;
}

#thermostat {
  background-color: #476b6b;
  border: 5px solid;
  border-radius: 10px;
  margin: 100px;
  margin-bottom: 50px;
  margin-top: 50px;
}
